/*This ist the first version to style the website "lazydata" */


body{
    font-family: "Helvetica";
}

/* =================== landing page ==============================*/

/* project area (Referenzen) */
.card{

    margin: 20px 20px 20px 20px;
    float: left;
}


.pic-pw-manager{
    padding: 50px;
}

.pic-sleeping-sloth{
    padding: 30px 10px;
}

/* first headline*/
.h1{

    margin: 0px 0px 20px 20px;
    color: rgb(3, 55, 229);
}

/* Picture of the sleeping sloth.  */
.sleeping_sloth{
    padding: 5px;
    width: 400px;
    margin: auto;
    float: left;
}

/* Picture of the sloth in the headline  */
.sloth{
    padding: 0px;
    width: 40px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

/* first impressum (Kontakt)  */
.impressum{
    margin-top: 10px;
    margin-left: 450px;
    font-size: 20px;
}

/* second impressum (Impressum) */
.impressum_2{
    margin-left: 420px;
    font-size: 20px;
}

/* the page "impressum */
.text_impressum_page{
    margin-left: 10px;
}

/* help area */
[data-help]{
    cursor: pointer;
}

/*the questions in the questions-area*/
.questions{
    font-size: 20px;
}

/* the text of the lazydata text in the navbar*/
.text_navbar{
    color: white;
}

/*headline in the imprint*/
.headline_imprint{
    margin-top: 50px;
    margin-left: 10px ;
}

/* the accordion area*/
.accordion_reference{
    margin-top: 20px;
}

/*mission area*/
.mission2{
    font-size: 20px;
}

/*the profil picture*/
.about_picture{
    width: 300px;
    margin: auto;
}

.github_icon{
    margin-left: 20px;
    margin-bottom: 15px;
}

.github_icon_2{
    margin-left: 550px;

}

.footer_new{
    text-align: center;
    margin-top: 15px;

}





