/*This ist the first version to style the website "lazydata" */

body{
    font-family: roboto, sans-serif;
    margin: 0;
}

/*area of the header*/
.p-header{
    background-color: rgb(17, 20, 32);
    padding: 10px 20px;
    color: rgb(192, 192, 192);
}

.headline{
    padding: 0;
    margin: 0;
}

.main-section{
    background-color: rgb(17, 20, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 50px
}

.box{
    padding: 10px;
    color: rgb(192, 192, 192);;
    background-color: rgb(70, 70, 70);
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 3px;
    border-radius: 10px;
    width: auto;
    height: 200px;
    width: 350px;
}

.box a{
    color: darkgrey;
}

/*first headline*/
.h1{
    color:black ;
}

/*landing page*/

/*the image on the landing page*/
.stylesheet{
    position:relative;
}

/*style of the text from the github link*/
.text_github_link{
    position: relative;
}

/*style of the header-text*/
.header{
    position: absolute;
    color: white;
    font-family: "American Typewriter";
}

.image{
    display: flex;
    align-items: center;
}



